/* admin CSS styles for Stadtkreation Surveys plugin by Johannes Bouchain - 02/2018 */

.stadtkreation-surveys-dashboard .stadtkreation-new-surveys {
	display:none;
}

.stadtkreation-surveys-dashboard .stadtkreation-existing-survey,
.stadtkreation-surveys-dashboard .stadtkreation-new-survey,
.stadtkreation-surveys-dashboard .survey-results {
	padding:10px;
	border:1px solid #666666;
	background:#f9f9f9;
	margin-bottom:10px;
}

.stadtkreation-surveys-dashboard .stadtkreation-existing-survey.to-be-deleted {
	background:#ffe9e9;
	border:1px solid red;
}

.stadtkreation-surveys-dashboard .to-be-deleted .stadtkreation-existing-question,
.stadtkreation-surveys-dashboard .stadtkreation-existing-survey .stadtkreation-existing-question.to-be-deleted {
	background:#ffdfdf;
	border:1px solid red;
}

.stadtkreation-surveys-dashboard .to-be-deleted .stadtkreation-existing-answer,
.stadtkreation-surveys-dashboard .stadtkreation-existing-survey .stadtkreation-existing-answer.to-be-deleted {
	background:#ffcccc;
	border:1px solid red;
}

.stadtkreation-surveys-dashboard .stadtkreation-existing-survey .content-box,
.stadtkreation-surveys-dashboard .survey-results .content-box 
 {
	clear:both;
	display:none;
}

.stadtkreation-surveys-dashboard .stadtkreation-existing-question,
.stadtkreation-surveys-dashboard .stadtkreation-new-question {
	padding:10px;
	border:1px solid #666666;
	background:#f0f0f0;
	margin-bottom:10px;
}

.stadtkreation-surveys-dashboard .stadtkreation-existing-answer,
.stadtkreation-surveys-dashboard .stadtkreation-new-answer {
	padding:10px;
	border:1px solid #666666;
	background:#e6e6e6;
	margin-bottom:10px;
}

.stadtkreation-surveys-dashboard .stadtkreation-textinput {
	width:400px;
	max-width:100%;
}

.stadtkreation-surveys-dashboard .action-buttons {
	text-align:right;
	float:right;
}

.stadtkreation-surveys-dashboard .action-buttons .marked {
	display:none;
}

.stadtkreation-surveys-dashboard .strong {
	font-weight:bold;
}

.stadtkreation-surveys-dashboard input.error {
	border-color:red;
}

.stadtkreation-surveys-dashboard .message {
	border:1px solid red;
	padding:10px;
	background:#ffe9e9;
	margin:10px 0;
}

.stadtkreation-surveys-dashboard .success-message {
	border:1px solid #009900;
	color:#009900;
	background:#e9ffe9;
}	

.stadtkreation-surveys-dashboard .message li {
	margin-left:20px;
	list-style:square;
}

.stadtkreation-surveys-dashboard .percent-bar {
	display:block;
	position:relative;
	background:white;
	border:1px solid #999999;
	padding:2px 5px;
}

.stadtkreation-surveys-dashboard .percent-bar .inner {
	position:absolute;
	display:block;
	top:0;
	left:0;
	height:100%;
	background:#ff9900;
}

.stadtkreation-surveys-dashboard .percent-bar .content {
	position:relative;
	font-weight:bold;
}

.clearfix {
	clear:both;
}

