/* CSS styles for Stadtkreation Surveys plugin by Johannes Bouchain - 02/2018 */

.stadtkreation-survey-frontend-form .message {
	border:1px solid red;
	padding:10px;
	color:red;
	background:#ffe9e9;
	margin:10px 0;
}

.stadtkreation-survey-frontend-form .success-message {
	border:1px solid #009900;
	color:#009900;
	background:#e9ffe9;
}	

.stadtkreation-survey-frontend-form .message li {
	margin-left:20px;
	list-style:square;
}

.stadtkreation-survey-frontend-form .error {
	background:#ffe9e9;
}

.stadtkreation-survey-frontend-form .error h3 {
	color:red;
}

.stadtkreation-survey-frontend-form p.error {
	color:red;
	font-weight:bold;
}

.stadtkreation-survey-frontend-form.filling .question-box {
	display:none;
}

#content .stadtkreation-survey-frontend-form.filling .stadtkreation-submit-survey.inactive {
	display:none;
}

#content .stadtkreation-survey-frontend-form button.inactive ,
#content .stadtkreation-survey-frontend-form input[type="submit"].inactive {
	color:#aaaaaa;
	background:#f0f0f0;
	cursor:not-allowed;
	border:none;
}

.stadtkreation-survey-results .percent-bar {
	display:block;
	position:relative;
	background:white;
	border:1px solid #999999;
	padding:2px 5px;
}

.stadtkreation-survey-results .percent-bar .inner {
	position:absolute;
	display:block;
	top:0;
	left:0;
	height:100%;
	background:#ff9900;
}

.stadtkreation-survey-results .percent-bar .content {
	position:relative;
	font-weight:bold;
}

.clearfix {
	clear:both;
}

#content .recaptcha {
	padding-bottom:20px;
}

#content .stadtkreation-survey-frontend-form .g-recaptcha {
	display:none;
}

/* form */

.stadtkreation-survey-frontend-form  label {
	font-weight:normal;
}

.stadtkreation-survey-frontend-form input.form-control[type="checkbox"],
.stadtkreation-survey-frontend-form input.form-control[type="radio"] {
	width:auto;
	height:auto;
	padding:0;
	margin:0;
	display:inline-block;
}